
h1{
  margin-top: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  margin: 20px auto 20px auto;
  color:#565d47;
}
body{
  margin:0;
  text-align: center;
  font-family: 'Rancho', cursive;
  background-color: #e5e4cc;
}
h3{
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  margin: 20px auto 20px auto;
  color:#565d47;
}
h2{
  color:#5e6f64;
  font-style: 2.2rem;
}
.top{
  background-color: #85a392;
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
}
.middle{

}
.bottom{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #899857;
}
.mountain{
  height:500px;
  width: 800px;
}
.paws2{
  height:80px;
  width: 100px;
  position: absolute;
  right:750px;
  top:60px;
}
.paws{
  height:60px;
  width: 70px;
  position: absolute;
  right:1070px;
  top:200px;
  bottom:50px;
}
.dp{
  height:150px;
  margin-top: 20px;
}
.design{
  height:200px;
  width:200px;
  margin-right: 20px;
  float:left;
}
.ps{
  height:200px;
  width:200px;
  float:right;
  margin-left: 20px ;
}
.java{
  height:200px;
  width:200px;
  margin-right: 20px;

  float:left;
}
.skill-row{
  width:50%;
  margin:200px auto 200px auto;
  text-align: left;


}
.skill-ro{
  width:50%;
  margin:50px auto 200px auto;
  text-align: left;

}
.skill-rows{
  width:50%;
  margin:50px auto 150px auto;
  text-align: left;


}
hr{
  border:dotted #708160 6px;
  border-bottom: none;
  width:5%;
  margin:100px auto;
}
.btn {

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Rancho', cursive;
  color: #ffffff;
  font-size: 20px;
  background: #596157;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #899857;
  text-decoration: none;
}
.contact-me{
  padding-bottom: 50px;
}
a{
  color:#bac7a7;
  margin:10px 20px;
  text-decoration: none;
  font-size: 1.3rem;
}
a:hover{
  color: #e5e4cc;
}
p{
  font-size: 1.7rem;
}
.tm{
  font-size: 1.4rem;
}
